/* Reset code */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-color: #fff;
    font-family: monospace;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


.big_wrapper{
    margin: 0 80px;
}
/* Header Style */
nav{
    margin: 20px 0;
    height: 100px;
}
.navbar{
    padding: 5px;
    display: grid;
    grid-template-columns: 470px auto;
    grid-template-rows: 50px;
    grid-gap: 8px;
}
.navbar-left{
    text-align: center;
    line-height: 50px;
}
.navbar-left .inner ul li a img{
    height: 50px;
    padding: 10px;
}
.navbar-left .inner ul li a{
    color: #302f2f;
}
.navbar-right{
    height: 50px;
    line-height: 50px;
}
.inner-left ul{
    display: grid;
    float: right;
    grid-template-columns: 200px 150px 120px;
    grid-template-rows: 50px;
    grid-gap: 3px;
}
.inner-right ul{
    display: grid;
    float: right;
    grid-template-columns: auto 60px 120px;
    grid-template-rows: 50px;
    grid-gap: 3px;
}
.inner ul li{
    list-style: none;
    text-align: center;
    line-height: 50px;
}
.inner ul li a{
    letter-spacing: 1px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
}
.navbar-right .inner ul li a img{
    border: 1px solid rgba(175, 175, 175, 0.89);
    border-radius: 8px;
    height: 40px;
    line-height: 50px;
    padding: 5px;
    margin: 5px;
}
.navbar-right ul li.search-box{
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    margin: 5px;
    position: relative;
}
.navbar-right ul li input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
    padding: 5px 20px;
}





/* Custom Designs*/
a.btn-small{
    border-radius: 8px;
    padding: 8px 14px;
    font-family: sans-serif;
}
a.btn-red{
    border: 1px solid #f44336;
    background-color: #e04531e3;
    color: #fff;
}
a.btn-white{
    border: 1px solid #ffffff;
    background-color: #ffffffe3;
    color: rgb(3, 5, 32);
}


/**
.carousel{
    margin: 0 40px;
    padding: 5px;
    width: calc(100% -80px);
    overflow: hidden;
    position: relative;
    height: 360px;
}
.carousel #prevBtn{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 10;
}
.carousel #nextBtn{
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 10;
}
.carousel-slide{
    display: flex;
}
.carousel-item{
    width: 100%;
    padding: 20px;
    position: relative;
    margin: 5px;
}
**/
.sliders{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 400px;
}
.sliders_1{
    border: 1px solid transparent;
    border-radius: 26px;
    box-shadow: 0 2px 4px 0px rgba(56, 138, 245, 0.267);
    background-image: url(assets/images/square.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 100%;
}
.sliders_1 span{
    color: #fff;
    background-color: #587dccd7;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 8px;
}
.sliders_1 h1{
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
}
.sliders_1 p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    width: 380px;
}
.sliders_1 .btn-box{
    margin-top: 30px;
}
.section-box{
    width: 90%;
    padding: 10px;
    margin: 50px 0;
}
.section-box .look-heading{
    font-size: 20px;
    font-weight: bolder;
    color: #08144bea;
    padding: 5px 0;
}
.section-box .look-sub-heading{
    padding: 5px 0;
    color: #a4b4caf8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-content-3{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    grid-gap: 50px;
}
.section-content-4{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    grid-gap: 30px;
}
.look{
   background-color: rgb(255, 255, 255);
}
.look .look-img img{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
}
.look .look-hot span{
    color: red;
    font-size: 16px;
    padding: 5px 0;
}
.look-topic h3{
    color: #1a2450;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
}
.look-tags{
    display: grid;
    grid-template-columns: 160px 220px;
}
.look-tags span{
    color: gray;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
}
.look-tags ul{
    float: right;
    display: grid;
    grid-template-columns: auto auto;
}
.look-tags ul li a{
    color: darkblue;
    height: 35px;
    line-height: 35px;
}
.look-price{
    position: relative;
    height: 30px;
}
.look-price span label{
    padding: 0 10px;
    color: coral;
}
.look-price img{
    position: absolute;
    right: 5%;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 3px;
}
.look-price span{
    color: #080808;
    font-size: 24px;
    font-weight: 600;
}
.look-img_hot img{
    height: 260px;
    width: auto;
    overflow: hidden;
}
.look-discuss p{
    font-size: 14px;
    color: #929397;
}